/*css/index.css*/
#jumbo {
	background-image: url(../img/jumbo.png);
	background-size: cover;
    background-position: center; 
    height: 200px;
}
.done {
	background-color: blue;
}

#cardsBoard {
	display: block;
}	

.cartaPokemon {
	width: 100px;
	display: inline-grid;
	background-color: #42b6f4;
}

.loadAnimation {
	width: 100px;
	display: inline-grid;
	background-color: #42b6f4;
}

.tittle
{
  z-index: +1;

}

.hide {
	display: none;
}